/* custom.css for demo.html */

body {
  background: rgb(173,123,214);
}

.wordbox {
  text-align:center;
  height: 200px;
}

.wordbox h3 {
  margin-top:15%;
}

button#submit {
  text-transform:none;
  padding: 0.25em 0.75em;
  border: 0 none;
  height:100%;
  border-radius: 3px;
  outline: none;
  background-color: rgb(149, 84, 202);
  font-weight: 400;
  font-size:2.5em;
  color: rgb(137, 65, 196);
  box-shadow: 0 5px rgb(124, 56, 179);
  transition: all 0.25s ease;
}

button#submit:active {
 transform: translateY(5px);
}

button#submit:hover {
  color: #fff;
}

.footer {
  padding-top:5em;
  text-align:center;
}

/* placeholder colors */
#box1 { background-color:#666; }
#box2 { background-color:#aaa; }
#box3 { background-color: #ddd; }
#box4 { background-color: #444; }
