
html {
    background: yellow;
}

body {
    background: yellow;
    background-size: cover;
}

.green-square {
    width:100px; 
    height:100px;
    background-color: green; 
    padding:20px; 
    margin:20px; 
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px 10px green;
}